.screen-height {
    height: 100vh;
}

.col-md-2.kanbas-nav-bar {
    width: 85px;
    padding: 0;
    margin-left: 10px;
    background: #000;
}

.nu-logo {
    background-color: black;
    padding: 0;
}
.nu-logo img {
    width: -webkit-fill-available;
}

.kanbas-nav-bar .list-group {
    border-radius: 0;
}

.kanbas-nav-bar .list-group-item{
    z-index: 2;
    color: #fff;
    background-color: #000;
    border: none; 
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5vh;
}

.kanbas-nav-bar .list-group-item.active{
    color: #d41b2c;
    background-color: #fff;
}

.kanbas-nav-bar .list-group-item .icon {
    font-size: 1.5rem;
    color: #d41b2c;
}

.kanbas-nav-bar .list-group-item.active .account-icon{
    color: lightgray;
}

.col.main-container {
    padding: 1.5rem;
}
.profile-header-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.profile-sec-container {
    margin-left: 0;
    display: flex;
}

.profle-nav-bar .list-group {
    border-radius: 0;
    width: 200px;
}

.profle-nav-bar .list-group-item{
    color: #d41b2c;
    background-color: #fff;
    border: none; 
    padding: 8px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profle-nav-bar .list-group-item.active{
    color: #000;
    border-left: 2px solid #000;
    background-color: #fff;
    border-radius: 0;
}

.profle-nav-bar .list-group-item-action:focus, .profle-nav-bar .list-group-item-action:hover {
    z-index: 1;
    color: #d41b2c;
    text-decoration: underline;
    background-color: #fff;
}

.profile-sec-container .content-section {
    margin: 0 2rem;
    width: -webkit-fill-available;
}

.profile-img-container {
    margin: 3vh 0;
}

.profile-form-container {
    width: 60%;
}

.btn.edit-profile-btn {
    height: fit-content;
    background: #f5f5f5;
    color: #2d3b45;
    border: 1px solid #c7cdd1;
}

.btn.edit-profile-btn:hover {
    color: #2d3b45;
    background-color: #e8e8e8;
}

.btn.save-profile-btn {
    height: fit-content;
    background: #d41b2c;
    color: #fff;
    border: 1px solid #c7cdd1;
}

.btn.save-profile-btn:hover {
    color: #fff;
    background-color: #fc1616;
}

.margin-2vh {
    margin: 2vh 0;
}

.link-collector {
    text-align: center;
    font-weight: 500;
}

.form-action-btn-container {
    display: flex;
    justify-content: flex-end;
}

.form-action-btn-container a {
    margin-left: 1rem;
}

.courses-container {
    margin: 0 1rem;
}

.text-nowrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-container {
    width: 75%;
}
.card-container .card {
    max-width: 270px;
    min-width: 270px;
    margin: 20px 40px 20px 0;
}

.card-container .card-link {
    text-decoration: none;
} 

.card .card-custom-title {
    color: rgb(0, 118, 184);
    font-size: 1rem;
    padding-bottom: 6px;
}

.card .card-custom-text {
    color: rgb(17, 19, 20);
}

.card .card-image {
    height: 16vh;
}

.card .icon {
    margin: 8px 12px 0 0;
    font-size: 1.5rem;
    color: #2d3b45;
}
.modules-action-container {
    display: flex;
    justify-content: flex-end;
}
.student-view.btn-secondary, .modules-action-container .btn-secondary, .custom-btn.btn-secondary{
    background: #f5f5f5;
    color: #2d3b45;
    border-radius: 0;
    border-color: #c7cdd1;
}

.module-list .list-group-item .icon{
    margin: 0 8px;
}

.module-list .list-group-item {
    border-left: 4px solid rgb(3, 175, 3);
    border-radius: 0 !important;
}

.module-list .list-group-item.list-group-item-secondary {
    border: 0;
    border-radius: 0 !important;
}

.courses-header-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.status-options-list .status-option{
    padding: 4px 12px;
    background-color: #f5f5f5;
    border-radius: 4px;
    border: 1px solid #b2babe;
}

.assignment-stat {
    border: 1px solid #2d3b45;
    padding: 0 12px;
}

.list-group-item.center-align {
    display: flex;
    align-items: center;
}
.assign-header a {
    text-decoration: none;
    color: #000;
}

.grades-section .search-container {
    display: flex;
}

.drop-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.drop-container .btn-secondary {
    background: white;
    color: black;
    display: flex;
    align-items: center;
    border: 1px solid #b2babe;
}

.table .table-data-align {
    text-align: center;
}

.table .table-data-align th{
    text-align: center;
    font-weight: 400;
}

.table.grades-table tbody tr th {
    text-align: initial;
    color: #d41b2c;
    font-weight: 400;
}

.settings-section .nav-link {
    color: #d41b2c;
}

.image-container {
    border: 1px solid lightgray;
    display: flex;
    justify-content: center;
}

.col-2.center-align {
    display: flex;
    align-items: center;
}

#course-btn.btn.disabled, #course-btn.btn:disabled {
    background-color: #c7cdd1;
    cursor: not-allowed;
    color: #000;
}

.settings-section .list-group {
    width: 30%;
}

.settings-section .list-group .list-group-item{
    border-radius: 0;
}

.settings-section .list-group .list-group-item i{
    color: #66696d;
    margin-top: 6px;
}

.assignment-edit-form .submission-container{
    border: 1px solid #c7cdd1;
    border-radius: 6px;
}

.assignment-edit-form .submission-container .chip {
    display: flex;
    justify-content: space-between;
    background-color: #e8e8e8;
    color: #000;
    width: 30%;
}

.assignment-edit-form .calendar-container {
    border: 1px solid #c7cdd1;
    display: flex;
    justify-content: space-between;
}
.assignment-edit-form .calendar-container .cal-icon {
    width: 8%;
    background-color: #e8e8e8;
    color: #000;
    font-size: larger;
    display: flex;
    justify-content: center;
}

.assignment-edit-form .assign-container{
    border: 1px solid #c7cdd1;
    border-radius: 6px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.assignment-edit-form .assign-footer {
    background-color: #e8e8e8;
    color: #000;
    display: flex;
    justify-content: center;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

.edit-assign-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}